.doctor{
    gap:2rem;
    align-items: center;
}
.card-wraper{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.doctorimage{
    height: 300px;
}
.content{
    display: flex;
    justify-content: space-between;
    gap:1rem;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}