.service-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.service-card-wraper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    
}